
*.pdb
Randomizer/Properties/AssemblyInfo.cs
*.config
Collections/bin/Debug/Tetris.exe
Collections/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.cache
*.txt
Collections/Properties/AssemblyInfo.cs
Collections/obj/Debug/Collections.exe
Collections/obj/Debug/Collections.csproj.CopyComplete
Collections/bin/Debug/Collections.exe
Enums/obj/Debug/Enums.exe
Enums/Properties/AssemblyInfo.cs
Randomizer/bin/Debug/Randomizer.exe
Randomizer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Randomizer/obj/Debug/Randomizer.exe
Enums/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Enums/bin/Debug/Enums.exe
Randomizer/Randomizer.csproj
*.v2
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
*.v1
*.sln
*.dll
*.csproj
*.exe
*.json
*.cs
*.editorconfig
*.targets
*.props
